 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Bara Electrical is an experienced and professional team of Perth Electricians and Aircon Specialists who have built a strong reputation as helpful and reliable “sparkies” in the Perth metro area.</p>
                </div>
                <div class="col-md-4">
                    <p>Started by George Baramily in 2014, Bara Electrical has grown through word of mouth and focus on providing dependable and honest electrical services.</p>
                </div>
                <div class="col-md-4">
                    <p>Offering a large range of Electrical &amp; Aircon Services from Mindarie to Rockingham, Bara Electrical will take care of your home, office, factory or commercial premises.</p>
                </div>
            </div>
        </div>
    </section>
